html, span, body, h1, hr, #home_div{
    margin: 0; 
    padding: 0;
}

#BAR {
    background-color: #18191a;
    border-radius: 10px;
    box-shadow: 7px 7px 17px rgb(50, 50, 50);
}

#LOGO{
    position: relative;
    display: block;
    display: inline-block;
    size: 50px;
    top: -68px;
    left: 10px;
}

#support{
    position: absolute;
    height: 72px;
    width: 72px;
    top: 15px;
    right: 170px;
}

#log{
    position: absolute;
    height: 72px;
    width: 72px;
    top: 12px;
    right: 80px;
}

#cart{
    position: absolute;
    width:50px;
    right: 21px;
    top: 18px;
}

a:link { 
    text-decoration: none; 
} 

#programming{
    right: 500px;
    }

body {
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: #1f2123;
}

#home_div{
    background-color: #1f2123;
    width: 350px;
    height: 430px;
    border-radius: 15px;
    box-shadow: -7px -7px 17px rgb(44, 44, 44),
                7px   7px 17px   rgb(14, 12, 12);
    margin: 10% auto;
    padding: 0px 55px;
    padding-top: 30px;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#home_div.hide {
    opacity: 0;
}

#home_div.active {
    opacity: 1;
}  

h1{
    color: rgb(0, 155, 252);
    text-align: center;
    padding-bottom:25px;
    font-family: "Sofia", sans-serif;
}

hr{
    border-color: rgb(0, 155, 252);
    margin-bottom:30px;
}

.input{
    position: relative;
    color:white;
    box-shadow: -7px -7px 10px rgb(38, 38, 38),
                7px   7px 17px rgb(14, 12, 12);
    border-radius: 10px;
    padding: 10px;
    margin: 15px 0;
    
}

.input input{
    background:transparent;
    border: none;
    outline: none;
    color:rgb(0, 155, 252);
    padding-right: 130px;
}

.name{
        width: 44%;
}

.second{
    width:198px ;
    transform: translate(230px,-71px);
    position:absolute;

}

input::placeholder {
    color:rgb(0, 155, 252);
}

.name input{
    padding-right: 5px;
}

.person_icon{
    width: 19px;
    height: 19px;
    position: absolute;
    transform: translate(7px,0px);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#gender{
    background:transparent;
    border: none;
    outline: none;
    color:rgb(0, 155, 252);
    padding-right: 35px;
}

.email_icon{
    width: 19px;
    height: 19px;
    position: absolute;
    transform: translate(7px,0px);
}

.lock_icon{
    width: 35px;
    height: 35px;
    position: absolute;
    transform: translate(10px,1px);
}

.remember_forgot{
    color:white;
    text-decoration: none;
    margin-bottom: 20px;
}

label{
    margin-right:82px;
    font: 23px "Sofia", sans-serif;
}

label:hover{
    color: rgb(0, 155, 252);
    cursor:copy;

}

.span{
    color: white;
    font-size: 20px;
    text-decoration: underline #1f2123;
    font-family: "Sofia", sans-serif;
} 

.span:hover{
    color: rgb(0, 155, 252);
    cursor:pointer;
}

.button:hover {
    color:rgb(0, 155, 252);
    transform: scale(1.03);
    box-shadow: -7px -7px 17px rgb(14, 12, 12),
                7px   7px 17px rgb(38, 38, 38);

}

.button{
    background-color: rgb(14, 12, 12);
    background:linear-gradient(10deg, #212326 11%,
    #1f2123 25%, 
    rgb(14, 12, 12) 70%);
    color: white;
    border: 0.5px solid rgb(21, 21, 21);
    box-shadow: -7px -7px 17px rgb(38, 38, 38),
                7px   7px 17px rgb(14, 12, 12);
    padding: 15px 147px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    margin-left: 7px;
    cursor: pointer;
    border-radius: 15px;
    border:none;
    font-family: Copperplate, Papyrus, fantasy;
}

.question{
    margin:20px 0px;
    text-align: center;
    color:white;
    font: 18px "Sofia", sans-serif;
}

option{
    background-color:#1f2123;
}

.down{
    margin: 10% auto;
    padding-top: 100px;
    align-items: center;
    width: 650px;
}

.th{
    color: rgb(0, 155, 252);
    padding: 20px;
    border: 1px solid #00B294;
    border-radius: 15px;
    text-align: center;
    font: 180% 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }



#ul{
    margin: 40px 0;
    color: rgb(0, 155, 252);
    list-style: armenian;
    padding-left: 45px;
    font-size: x-large;
    font-variant: small-caps;
}

